@model Ponderer.ViewModels.QuoteIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote.InspirationalQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quotes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InspirationalQuote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QuoteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.QuoteId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuoteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
